{% extends "base.html" %}
{% block content %}
<div class="box">
	<span class="image featured">
		<div style="float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
			<iframe width="100%" height="100%" style="position: absolute; top: 0; left: 0;" src="https://www.youtube.com/embed/5g0AUJPdiAU" frameborder="0" allowfullscreen></iframe>
		</div>
	</span>
	<h3>Flumride[tm] - {{ config.FLUMRIDE["YEAR"] }}</h3>
	<p>
		Sexmästeriet i Karlskrona och BA[tm] svettas som feta oäkta finnar i en sauna nu när planeringen inför Flumride[tm] har tagit sin början.
	</p>
	<p>
		Nytt för i år är att Flummen hålls i Sveriges blötaste studentstad, Karlskrona! Som om detta inte var nog underbart så utlovas i år ett antal nya sphårrter, mer brutala än någonsin.
	</p>
	<p>
		Det finns ett event och lite annan skit på <strong><a href="{{ config.FLUMRIDE["FACEBOOK_EVENT_URL"] }}" target="_blank">fejsbook</a></strong>. Kolla in det om du gillar data.
	</p>
	<p>
		<strong>Vi ses i khånntajnern!</strong>
	</p>
	<a href="{{ url_for('flumride_submit') }}" class="button special">Till anmälan</a>
</div>

{% endblock %}
