{% extends "base.html" %}
{% block title %}Flumride phestplan{% endblock %}
{% block content %}
<div class="box">
	{% if config.FLUMRIDE.TRAILER_URL %}
	<span class="image featured">
		<div style="float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
			<iframe width="100%" height="100%" style="position: absolute; top: 0; left: 0;" src="{{ config.FLUMRIDE.TRAILER_URL }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</span>
	{% else %}
	<h4> (Här kommer ni kunna förvänta er en trailer när den är klar, vilket såklart är snart™) </h4>
	{% endif %}
	<h3>Flumride™ - {{ config.FLUMRIDE.YEAR }}</h3>
	<p>
		Sexmästeriet i Karlskrona och BA™ svettas som feta oäkta finnar i en sauna nu när planeringen inför Flumride™ har tagit sin början.
	</p>
	<p>
		Flummen hålls i Sveriges blötaste studentstad, Karlskrona! Vi drar igång stenhårt den 5:e maj och kör in i kaklet den 7:a maj. Som vanligt så skiter vi i politiken.
	</p>
	<p>
		Vi jobbar på att fixa en sovsal i nivå med Hilton. Om det inte går så får ni sova på Centralen.
	</p>
	<p>
		Det finns ett event och lite annan skit på <strong><a href="{{ config.FLUMRIDE.FACEBOOK_EVENT_URL }}" target="_blank">Fejsbook</a></strong>. Kolla in det om du gillar data.
	</p>
	<p>
		<strong>Vi ses i khånntajnern!</strong>
	</p>
	<a href="{{ url_for('flumride_submit') }}" class="button special">Till anmälan</a>
</div>

<div class="box">
	<h3>Schema</h3>
	{% if config.FLUMRIDE.schedule %}
		{% for day in config.FLUMRIDE.schedule %}
			<h4> {{day.day}} </h4>
			<p>
				{% for event in day.data %}
					{{event}}
					<br/>
				{% endfor %}
			</p>
		{% endfor %}
	{% else %}
	<strong>Kommer snart™</strong>
	{% endif %}
	
</div>
{% endblock %}
