{% extends "base.html" %}
{% block content %}

<script>
var max_nr_of_members = {{ config.FLUMRIDE["MAX_NR_OF_MEMBERS"]|int }};
</script>

<div class="row">
	<div class="12u">
		<section class="box">
			<h3>Anmäl lag</h3>
			<p>
				Biljetterna har släppts! Priset för årets flumride är som tidigare år: <strong>{{ config.FLUMRIDE["TICKET_PRICE"] }}</strong> riksdaler!
			</p>
			<p>
				Om man vill att BA™ tillhandahåller sängplats så löser vi det för 100 pengar extra. Dvs totalt <strong>{{ config.FLUMRIDE["TICKET_PRICE_WITH_SOVSAL"] }}</strong> kr samt 100 kr/person i deposition!
			</p>
			<p>
				Kom ihåg att ni bara får ha <strong>10 personer</strong> per lag. Är ni fler än 10 får ni dela upp er i flera lag!
			</p>
		</section>
		<form method="post" action="{{ url_for('flumride_submit') }}" name="submit_team">
			{{ form.hidden_tag() }}

			<section class="box">
				<h3>Anmäl ett lag</h3>
				<div class="row uniform 50%">
					<div class="4u 12u(mobilep)">
						{{ form.name(placeholder="Lagnamn") }}
						{% for error in form.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<div class="4u 12u(mobilep)">
						{{ form.email(placeholder="Epost", type="email") }}
						{% for error in form.email.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<div class="4u 12u(mobilep)">
						{{ form.city(placeholder="Stad") }}
						{% for error in form.city.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
				</div>
				<div class="row uniform 50%">
					<div class="12u">
						{{ form.slogan(placeholder="Slogan") }}
						{% for error in form.slogan.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
				</div>
			</section>

			<section class="box">
				<div data-toggle="fieldset" id="members-fieldset">
					<h3>Lägg till medlemmar</h3>

					{% for m in form.members %}
					<div data-toggle="fieldset-entry">
						<div class="row uniform 50%">
							<div class="4u 12u(mobilep)">
								{{ m.name_of_member(placeholder="Namn") }}
								{% for error in m.name_of_member.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</div>
							<div class="4u 12u(mobilep)">
								{{ m.person_number(placeholder="Personnummer (ååååmmdd-xxxx)") }}
								{% for error in m.person_number.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</div>
							<div class="4u 12u(mobilep)">
								{{ m.allergies(placeholder="Allergier") }}
								{% for error in m.allergies.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</div>
						</div>
						<div class="row uniform 50%">
							<div class="3u 12u(mobilep)">
								{{ m.sittning }}
								<label for="members-{{ loop.index0 }}-sittning">Vill gå på sittning</label>
							</div>
							<div class="3u 12u(mobilep)">
								{{ m.need_bed }}
								<label for="members-{{ loop.index0 }}-need_bed">Behöver sovsal</label>
							</div>
							<div class="4u 12u(mobilep)">
								{{ m.sfs }}
								<label for="members-{{ loop.index0 }}-sfs">Medlem i SFS-ansluten kår</label>
							</div>
						</div>
						<div class="row uniform 50%" data-remover="members-{{ loop.index0 }}" style="display: none;">
							<div class="12u">
								<a href="" data-toggle="fieldset-remove-row" id="members-{{ loop.index0 }}-remove" data-target="#members-fieldset">Ta bort</a>
							</div>
						</div>
						<hr />
					</div>
					{% endfor %}

					{% if loop.last %}
					<a data-toggle="fieldset-add-row" data-target="#members-fieldset" class="button special small">Lägg till medlem</a>
					{% endif %}
				</div>
			</section>
			
			<section class="box">
				<p>
					<i>Anmälan är bindande. Efter att du har skickat din anmälan kommer du få ett epost med betalningsuppgifter.</i>
				</p>
				{{ form.submit(class="fit") }}
			</section>
		</form>
	</div>
</div>
{% endblock %}
