{% extends "base.html" %}
{% block title %}Alla anmälda lag{% endblock %}
{% block content %}

{% set is_admin = g.user.is_authenticated %}

<script>
flumride_set_has_payed = function( url, team_id ) {
	$.post( url, function( data ) {
		$( '#has-payed-' + team_id ).html( data.has_payed );
	});
};

$(function() {
	var team_id = location.hash;
	if (team_id !== '') {
		document.getElementById('team-' + team_id.substring(1)).scrollIntoView();
	}

	$("#select_has_payed").change(function() {
		var url = [location.protocol, '//', location.host, location.pathname].join('');
		var has_payed = this.options[this.selectedIndex].value;
		var query = '?has_payed=';
		if (has_payed === '-') {
			query = '';
		} else {
			query += has_payed;
		}
		window.location = url + query;
	});
});
</script>
<div class="row">
	<div class="12u">
		<section class="box">
			<h3>Alla anmälda lag</h3>
			<p>
				Totalt har vi <strong>{{ total["members"] }}</strong> anmälda kaospiloter fördelade på en bataljon om <strong>{{ total["teams"] }}</strong> lag.
			</p>
			{% if is_admin %}
			<p>
				{% for ticket in total['ticket_info'] %}
					Antal {{ticket.type}}: <strong>{{ticket.count}}</strong>
					<br/>
				{% endfor %}
				Antal icke SFS-medlemmar: <strong>{{ total["non_members_sfs"] }}</strong>
			</p>
			<p>
				<select id="select_has_payed" name="has_payed">
					<option value="-">- Inget filter -</option>
					<option value="True" {% if has_payed == "True" %}selected{% endif %}>Har betalat</option>
					<option value="False" {% if has_payed == "False" %}selected{% endif %}>Har EJ betalat</option>
				</select>
			</p>
			{% endif %}
		</section>

		{% for team in teams %}
		<section class="box" id="team-{{ team.id }}">
			<h3>Lagnamn: <strong>{{ team.name }}</strong></h3>
			<p>
				Från: <strong>{{ team.city }}</strong><br/>
				Slogan: <strong>{{ team.slogan }}</strong><br/>
				{% if is_admin %}
				E-post: <a href="mailto:{{ team.email }}?subject=Anmälan Flumride"><strong>{{ team.email }}</strong></a><br/>
				Anmälningsdatum: <strong>{{ team.submit_date }}</strong><br/>
				Pris: <strong>{{ team.price }}</strong> kr<br/>
				Betalat:
				<strong>
					{% if team.has_payed %}
						{{ 'Ja' if team.has_payed else 'Nej' }}
					{% else %}
						<span id="has-payed-{{ team.id }}">
							<a href="javascript:flumride_set_has_payed('{{ url_for('flumride_set_has_payed', id=team.id) }}', '{{ team.id }}');">{{ 'Ja' if team.has_payed else 'Nej' }}</a>
						</span>
					{% endif %}
				</strong><br/>
				<a href="{{ url_for('flumride_edit_team', id=team.id) }}">Edit</a>
				{% endif %}
			</p>

			<div class="table-wrapper">
				<table>
					{% if is_admin %}
					<col style="width:30%">
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:5%">
					<col style="width:5%">
					<col style="width:5%">
					<col style="width:5%">
					{% else %}
					<col style="width:100%">
					{% endif %}
					<thead>
						<tr>
							<th>Namn</th>
							{% if is_admin %}
							<th>Personnummer</th>
							<th>Allergier</th>
							<th>Biljett</th>
							<th>Dryck</th>
							<th>SFS</th>
							<th> </th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for member in team.members %}
						<tr>
							<td>{{ member.name_of_member }}</td>
							{% if is_admin %}
							<td>{{ member.person_number }}</td>
							<td>{{ member.allergies }}</td>
							<td>{{ config.FLUMRIDE.ticket_types[member.ticket_type].name}}</td>
							<td>{{ config.FLUMRIDE.drink_options[member.drink_option].name }}</td>
							<td>{{ 'Ja' if member.sfs else 'Nej' }}</td>
							<td><a href="{{ url_for('flumride_edit_member', id=member.id) }}">Edit</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if is_admin %}
			<a href="{{ url_for('flumride_add_member', id=team.id) }}">Lägg till medlem</a>
			{% endif %}
		</section>
		{% endfor %}
	</div>
</div>
{% endblock %}
