{% extends "base.html" %}
{% block content %}

{% set is_admin = g.user.is_authenticated() %}

<script>
flumride_set_has_payed = function( url, team_id ) {
	$.post( url, function( data ) {
		$( '#has-payed-' + team_id ).html( data.has_payed );
	});
};

$(function() {
	var team_id = location.hash;
	if (team_id !== '') {
		document.getElementById('team-' + team_id.substring(1)).scrollIntoView();
	}
});
</script>
<div class="row">
	<div class="12u">
		<section class="box">
			<h3>Alla anmälda lag</h3>
			<p>
				Totalt har vi <strong>{{ total["members"] }}</strong> anmälda kaospiloter fördelade på en bataljon om <strong>{{ total["teams"] }}</strong> lag.
			</p>
			{% if g.user.is_authenticated() %}
			<p>
				Antal sovplatser: <strong>{{ total["members_need_bed"] }}</strong><br/>
				Antal sittningsbiljetter: <strong>{{ total["members_sittning"] }}</strong><br/>
				Antal icke SFS-medlemmar: <strong>{{ total["non_members_sfs"] }}</strong>
			</p>
			{% endif %}
		</section>

		{% for team in teams %}
		<section class="box" id="team-{{ team.id }}">
			<h3>Lagnamn: <strong>{{ team.name }}</strong></h3>
			<p>
				Från: <strong>{{ team.city }}</strong><br/>
				Slogan: <strong>{{ team.slogan }}</strong><br/>
				{% if g.user.is_authenticated() %}
				E-post: <strong>{{ team.email }}</strong><br/>
				Anmälningsdatum: <strong>{{ team.submit_date }}</strong><br/>
				Pris: <strong>{{ team.price }}</strong> kr<br/>
				Betalat:
				<strong>
					{% if team.has_payed %}
						{{ team.has_payed }}
					{% else %}
						<span id="has-payed-{{ team.id }}">
							<a href="javascript:flumride_set_has_payed('{{ url_for('flumride_set_has_payed', id=team.id) }}', '{{ team.id }}');">{{ team.has_payed }}</a>
						</span>
					{% endif %}
				</strong><br/>
				<a href="{{ url_for('flumride_edit_team', id=team.id) }}">Edit</a>
				{% endif %}
			</p>

			<div class="table-wrapper">
				<table>
					{% if is_admin %}
					<col style="width:30%">
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:5%">
					<col style="width:5%">
					<col style="width:5%">
					<col style="width:5%">
					{% else %}
					<col style="width:100%">
					{% endif %}
					<thead>
						<tr>
							<th>Namn</th>
							{% if is_admin %}
							<th>Personnummer</th>
							<th>Allergier</th>
							<th>Sittning</th>
							<th>Sovsal</th>
							<th>SFS</th>
							<th> </th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for member in team.members %}
						<tr>
							<td>{{ member.name_of_member }}</td>
							{% if is_admin %}
							<td>{{ member.person_number }}</td>
							<td>{{ member.allergies }}</td>
							<td>{{ 'X' if member.sittning else '-' }}</td>
							<td>{{ 'X' if member.need_bed else '-' }}</td>
							<td>{{ 'X' if member.sfs else '-' }}</td>
							<td><a href="{{ url_for('flumride_edit_member', id=member.id) }}">Edit</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<a href="{{ url_for('flumride_add_member', id=team.id) }}">Lägg till medlem</a>
		</section>
		{% endfor %}
	</div>
</div>
{% endblock %}
