{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="12u">
		<section class="box">
			<h3>Anmälda lag</h3>
			<p>
				Totalt har vi <strong>{{ total["members"] }}</strong> anmälda kaospiloter fördelade på en bataljon om <strong>{{ total["teams"] }}</strong> lag.
					
				</p>
				<c:if test="${isUserAdmin}">
					<p>
						Antal sovplatser: <strong>{{ total["members_need_bed"] }}</strong><br/>
						Antal sittningsbiljetter: <strong>{{ total["members_sittning"] }}</strong><br/>
						Antal icke SFS-medlemmar: <strong>{{ total["members_sfs"] }}</strong>
					</p>
				</c:if>
		</section>

		{% for team in teams %}
		<section class="box">
			<h3>Lagnamn: <strong>{{ team.name }}</strong></h3>
			<p>
				E-post: <strong>{{ team.email }}</strong><br/>
				Från: <strong>{{ team.city }}</strong><br/>
				Slogan: <strong>{{ team.slogan }}</strong><br/>
				Pris: <strong>{{ team.price }}</strong> kr
			</p>

			<div class="table-wrapper">
				<table>
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:5%">
					<col style="width:5%">
					<col style="width:5%">
					<thead>
						<tr>
							<th>Namn</th>
							<th>Personnummer</th>
							<th>Allergier</th>
							<th>Sittning</th>
							<th>Sovsal</th>
							<th>SFS</th>
						</tr>
					</thead>
					<tbody>
						{% for member in team.members %}
						<tr>
							<td>{{ member.name_of_member }}</td>
							<td>{{ member.person_number }}</td>
							<td>{{ member.allergies }}</td>
							<td>{{ 'X' if member.sittning else '-' }}</td>
							<td>{{ 'X' if member.need_bed else '-' }}</td>
							<td>{{ 'X' if member.sfs else '-' }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
		{% endfor %}
	</div>
</div>
{% endblock %}
