{% extends "base.html" %}
{% block content %}
<section class="box special features">
	<div class="features-row">
		<section>
			<span class="icon major fa-users accent2"></span>
			<h3>Anmäl ett lag till Flumride</h3>
			<ul class="actions">
				<li><a href="{{ url_for('flumride_submit') }}" class="button special">Till anmälan</a></li>
			</ul>
		</section>
		<section>
			<span class="icon major fa-list accent3"></span>
			<h3>Se vilka som anmält sig till Flumride</h3>
			<ul class="actions">
				<li><a href="{{ url_for('flumride_teams') }}" class="button">Till listan</a></li>
			</ul>
		</section>
	</div>
	<div class="features-row">
		<section>
			<span class="icon major fa-info accent5"></span>
			<h3>Phestplan för Flumride</h3>
			<ul class="actions">
				<li><a href="{{ url_for('flumride_info') }}" class="button">Till phestplanen</a></li>
			</ul>
		</section>
		<section>
			<span class="icon major fa-phone accent2"></span>
			<h3>Kontakta oss</h3>
			<ul class="actions">
				<li><a href="{{ url_for('contact') }}" class="button">Kontakt</a></li>
			</ul>
		</section>
	</div>
</section>
{% endblock %}
