{% extends "base.html" %}
{% block title %}Brutalspårrter{% endblock %}
{% block content %}

<div class="row">
	<div class="12u">
		
		<section class="box">
			<h4>EgghNikkning(tm)</h4>
			<p>
				En av de mest brutala spårrter som kan utövas. Mycket äkkligare än att vara kustjägare
				och mykket ballare ballfaktor.
				En spårrt som endast vinnarna vinner.
				Ursprunget till spårrten är alla de tråkiga tipsekstra som upplevts under otrolig 
				baksmälla.
				Detta är en spårrt där den instinkarna lätt får övertaget.
			</p>
			<h5>Utförande:</h5>
			<p>
				De två lagen ställer sig på spelplanen.
				Kastaren gör sig redo.
				Kastaren kastar det kastlösa egghet mot sina suddiga kamrater. 
				Ägget krokkar din panna med ett mykket spessielt ljud...
				Stilpoäng/Utegghning utdelas.
			</p>
			<p>
				Drutten's Tips: Utmana inte ödet, mot Bantu och hans gäng har ni inte en schangs.<br>
			</p>
		</section>

		<section class="box">
			<h4>Brutal rejjälitty</h4>
			<p>
				Det här är vårt bidrag mot det mer stillasittande och asåssijala dataspelsfolket. 
				Det är roligare att umgås och supa men 
				Brutal Akademien är mer brutala än så. Det finns en helt ny bana planerad men än är det ingen som vågar utmana BA.
			</p>

			<h5>Utförande:</h5>
			<p>
				Hängna in ett område, typ en barnhage eller en äng med levande churar, allt beror på hur kul ni vill ha.
				Sätt upp ett område där ni ser till att det finns spårrtdrück. Sätt ut en massa hinder i vägen. 
				Se till att medspelarna sätter på en ögonbindel och led sedan er kamrat jenom att skrika vilket håll de skall gå 
				för att fukta strupen. Se till att medspelaren tömmer innehållet på rekordtid och led dem tillbaka. 
				Varianter på detta är att försöka ta sig från hemmet till tentan, skriva den och gå och tillbaka med en bindel för ögonen.
				För att det skall vara godkänt som tävling  gäller det att klara tentan...
			</p>
			<p>
				Pappi's Tips: Blanda vicxs-blå i spårrtdrücken.
			</p>
		</section>

		<section class="box">
			<h4>Super med Mario-kart(TM)</h4>
			<p>
				En typisk spårrt som utövas åftast när det är tråkigt på tevä.
				Det behövs ett Super Marijo okk dônk.
			</p>

			<h5>Utförande:</h5>
			<p>
				Ställ upp två stora glas med dônk på bordet. Välj den bana som skall köras. Kör ett varv och stanna för 
				pittståpp. Det vill säja - tanka i dig ett av glasen utan att spilla för då kan man bli såm Nikki Lauda.
				Kör ett nytt varv. Svep det andra glaset. Kör det tredje varvet och gå i mål.
			</p>
			<p>
				Promilla's Tips: Öhlglas är endast till för BA, drikk ur ett snappzglas.
			</p>
		</section>


		<section class="box">
			<h4>Kånntejnerdajv</h4>
			<p>
				En spårrt som uppfanns under Dimma-92.
				Vi tröttnade på en kaksig Lundapååg och slängde honom i en kåntajner så vi
				skulle slippa honom.
				Då det visade sig att han hade öhl med sig i kåntäjnaern blev vi avundsjuka
				och uppfann denna spårrt.
			</p>

			<h5>Utförande:</h5>
			<p>
				En fet kåntäjner fylls med frigålitschipps till bredden. 
				Öhl kastas i kåntäjnern. 
				Nu gäller det att hitta en öhl och svepa den så snabbt det går.
				Observera att en tävlande max får ta upp en öhl.
				Därefter måste den tävlande ut ur kåntäjnern innan nästa får hoppa i.
				Inget hinder för enmanslag. 
				Eliten kräver dock att man byter ut öhlen mot dônk.
				Allt sker på tid...
			</p>
			<p>
				Butthead's Tips: Ta av er overaullen, det minskar friktionen och ökar hastigheten.
			</p>
		</section>


		<section class="box">
			<h4>Kranen(TM)</h4>
			<p>
				Kranen uppfanns från början som en bestraffningsform.
				Men så kom det sig så att vi var tre BA-män som inte hade nåt att göra en kväll och ville kröka. 
				Den enda alkhohål som vi kunde få tag på var en tålvliters öhlkägg.
				Vi riggade käggen och tävlade mot varandra...
				Spårrten är idag mycket sällsynt fenomen p g a nitisk barpersonal. 
				De lider väl av bazillscräck...
			</p>

			<h5>Utförande:</h5>
			<p>
				Stick in huvvet mot en fungerande öhlkran, dra i spaken och drikk så länge du kan...
			</p>
			<p>
				Alkho's Tips: Lättöhl smakar äkkligt.
			</p>
		</section>


		<section class="box">
			<h4>Yoghurthäfv</h4>
			<p>
				En klassisk spårrt som ofta ersätter den viktigaste måltiden för dagen, man vill 
				ju inte vara sist med den första öhlen.
			</p>

			<h5>Utförande:</h5>
			<p>
				Tag ett paket med yoggigägga som har stått i ett varmt fönster en dag eller 22. 
				Be någon ur Brutalakademien blanda en grågg som du sedan sveper. 
				Slit med stor kraft utan att spilla ut något av den ljumna sörjan och svep 
				,utan att tveka, hela härligheten.
				Försök att hjula, försök hålla nere maten.
				Ät baklänges!De riktigt skikkliga kan äta de tidigare måltiderna separat.
			</p>
			<p>
				Dåkktår Äkkel's Tips: BA(TM) är inga snälla gossar.<br>
			</p>
			<p>
				Dåkktår Äkkel's Tips2: Kung Kokos Rules!
			</p>
		</section>


		<section class="box">
			<h4>vålvoklättring(TM)</h4>
			<p>
				Det här kan vara en av de mest farliga spårrterna i världen, allt beror på tidigare alhkohålintaget,
				ägaren åkk vilken fart vålvån har.
				Spårrten kan även ha olika krav, allt från att bestiga vålvån hela vägen upp, eller bestiga den som 
				Drutten vill att man skall bestiga, till att bara röra vid en backspegel. Uppfanns efter en missad tenta.
			</p>
			<p>
				<h5>Utförande för den fege:</h5>
				Köp ett gammalt vrak och bestig så ofta du vill...
				Utförande för de tuffa:
				Leta upp den dyraste vålvå du ser. Sup dig riktigt osynlig, klättra upp på taket på vålvån, 
				hoppa så länge du har balansen. Skaka galler...
			</p>
			<p>
				Pennywise's Tips: Du är inte tuff.
			</p>
		</section>


		<section class="box">
			<h4>Roundråbbin(TM)</h4>
			<p>
				En gammal klassiker om man har tråkigt på en resa.
				Denna spårrt utförs i ett rasande tempo och att äta baklänges är ett pris man får betala för att leka med tuffa BA
			</p>

			<h5>Utförande:</h5>
			<p>
				Man tager vad man haver åkk tror att man skall få njuta i fred. Då (speciellt om man har mykket) hörs det gälla ljudet av en röst som skriker "Raund-Råbbin!". Sen är det bara att halsa i sig det där gäggigga som nyss va så gått.
				Då man känner att magen är full, vilket är en illusion, tar man ett par ekstra klunkar och lämnar över drykken till 
				nästa lykkliga kåmpis som tror att han/hon/den/det fikk en gratis fylla.
			</p>
			<p>
				KanZer's Tips:Hämnden kan vara både ljuv och luras.
			</p>
		</section>

		<section class="box">
			<h4>Natt-Frizbi-Gålf(TM)</h4>
			<p>
				Den äldsta och numer sällan skådade NFG är en tidskrävande och spritfrämjande spårrt.
				Det finns ingen som klarat en artånhålsbana eller ens samma hål artån gånger...
				Dock är det många som klarat att hitta sin egen frisbi...
				Oftast är här samma sak som alltid och alla utövare blir oftast väldans fulla.
			</p>

			<h5>Utförande:</h5>
			<p>
				Frisigolfbana är inget krav, dock mörker och en dunk Dônk(TM) på minst fem liter.
				Du måste dock ha med dig minst en frizbi att kasta.
				Då du träffar målet(hålet) drikker du stora klunkar dônk.
				Då du letar efter frizbin dricker du inte fullt så stora klunkar..
				Spelet slutar då motspelare dhäkkar eller BA-män uppnår nirvana.
				Var beredd att muta dommaren med dônk(TM). 
			</p>
			<p>
				Gudfadern's Tips: Det tar längre tid än du tror och du blir ingen rullstolsman för det.
			</p>
		</section>


		<section class="box">
			<h4>Käpps(TM)</h4>
			<p>
				Caps(TM) är en spårrt som är påppulär på phörphest(TM).
				EN rullstolsman(TM) uppnår nirvana och en vanlig dödlig dhäkkar.
				Att dhäkka är är dokk inget att skämmas för för det är det vi alla vill uppnå...
			</p>

			<h5>Utförande:</h5>
			<p>
				För att få ut bästa effekt bör ni ha en motståndare.
				Laget kan bestå av en till flera personer.
				Den starka sätter sig själv mot ett helt lag medans den svage ser till att ha för lite öhl.
				Öhl hälls upp i glasen och sedan börjar matchen mot sig själv: Hur mycket öhl kan jag drikka 
				innan jag dhäkkar. Tips:Töm blåsan innan matsch.
				Försök att dra med er några till den fina nivån som ni alla strävar efter.
				Matschregler och annat finns någon annanstans att finna, 
				Vänd dig om så står det alltid någon som kan ge dig ett svar.
			</p>
			<p>
				Mailman's Tips: Om du blir inbjuden till Dônkkäpps(TM), tacka inte nej.
			</p>
		</section>

		<section class="box">
			<h4>Kundvagnsbasket</h4>
			<p>
				Den ultimata spårrten du aldrig fikk eller vågade göra när du va liten och hjälpte mamma att handla.
			</p>

			<h5>Utförande:</h5>
			<p>
				Leta upp ett område stort nog för en basketplan eller minst föijra kundvagnar och två tvätt korjar.
				Ställ ut korjarna på området som ni kallar för basketplan. Se till att ni är minst föijra pärsooner på varje lag.
				Två av dessa skall sitta i varsin kundvagn och en skall vara förare. Ta bort alla normala basketregler.
				Man får bara förflytta åkdonet då men inte har bollen.
				Gör mest poäng . Poäng delas ut då man lyckas få bollen korgen. Vinn och låtsas att du är lika kool 
				som uppfinnaren till denna spårrt. För du kan ge dig på att han har en svart väst...
			</p>
			<p>
				Kurghan's Tips: Fulla förare vågar ofta mer.
			</p>
		</section>

		<section class="box">
			<h4>Dhekkrullning(tm)</h4>
			<p>
				Dhekkrullning är en spårrt som uppfanns för att vi saknade 
				karruzzeller så mycket och vi blev inspererade avde många och tunga bakfyllorna
				som vi har uppplevt. Grunden var egentligen att vi ville ibland känna av bakfyllan
				utan att behöva sova först.
			</p>

			<h5>Utförande:</h5>
			<p>
				För vanliga homosapiens krävs ett 
				pilotcertifikat alt att ni är övervakade av brutal rullstolsman(TM)
			</p>
			<p>
				Kliv in i dekkhet och svep ett stort glas Dônk(TM).
				Låt sedan dina kamrater börja rulla dekkhet(TM) i den uppsatta banan.
				Trilla inte ut ur dekkhet.
				Enjoy the joyride.  
			</p>
			<p>
				Dhäkkadans' Tips: Blunda inte som pilot i ett dekkh.
			</p>
		</section>

		<section class="box">
			<h4>Terrängkråkket(TM)</h4>
			<p>
				Var förut den självklara sysselsättningen på phörphest(TM) och ett utmärkt komplement till NFG
				då terrängkråkketmatsch(TM) inte på börjas i mörker. Mången flaskor öhl har drukkits till denna spårrt.
				Få har lykkats med att vinna...
			</p>

			<h5>Utförande:</h5>
			<p>
				Ta en valfri plats på jorden, Sätt upp en kråkketplan i onaturligt stor storlek.
				Spela kråkket och bli full.
				Plokka in banan dagen efter...
			</p>
			<p>
				Wikked's Tips: Storleken har visst betydelse
			</p>
		</section>

	</div>
</div>
{% endblock %}
